{% load static %}
<div class="footer">
    <div class="footer-content">
        <div class="footer-section about footer-box">
            <h3 class="footer-text">Genç Girişimciler Kulübü</h3>
            <br>
            <p class="footer-text">Sabancı Üniversitesi
                Orta Mahallesi
                No:27 34956 Tuzla / İstanbul</p>
            <p>ggk@sabanciuniv.edu</p>
        </div>
        <div class="footer-section questions footer-box">
            <h3 class="footer-text">Sıkça Sorulan Sorular</h3>
            <br>
            <ul class="question-list">
                <li class="list-item">GGK nedir?</li>
                <li class="list-item">Bizimle nasıl çalışabilirsiniz?</li>
                <li class="list-item">Etkinliklerimize nasıl katılabilirsiniz?</li>
            </ul>
        </div>
        <div class="footer-section events footer-box">
            <h3 class="footer-text">Yakın Etkinlikler</h3>
            <br>
            <ul class="question-list">
                {% if events %}
                    {% for event in events %}
                        {% if event.distinct_page %}
                            <a href="{{event.distinct_page}}"><li class="list-item">{{event.title}}</li></a>
                        {% else %}
                            <a href="/events/{{event.id}}"><li class="list-item">{{event.title}}</li></a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Henüz yaklaşan bir etkinlik yok</p>
                {% endif %}
            </ul>
            <br>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="bottom-text">Sabancı Üniversitesi | Genç Girişimciler Kulübü | 2020</p>
    </div>
</div>