{% load static %}
<style>
    .navbar-custom{
        background-color:black;
    }

    .nav-link{
        color:whitesmoke !important;
        font: SourceSans !important;
    }
</style>

<div class="jumbotron header">
    <div class="header-option"><h3><a href="#">Etkinlik</a></h3></div>
    <div class="header-option"><h3><a href="#">Sponsorlarımız</a></h3></div>
    <div class="header-option"><h3><a href="#">Konuşmacılarımız</a></h3></div>
    <div class="header-option"><h3><a href="#">Katıl</a></h3></div>
</div>