{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .navbar-custom{
    background-color:black;
  }
  .logo{
    height:1em;
    padding-right:15%;
    padding-left:5%;
    position: relative;
  }
  .custom-icon{
    height:4%;
    margin-top:20%;
  }
  .social-icon{
    margin-right:5%;
  }

  .logo{
        -webkit-filter:grayscale(30%);
        transition-duration:0.3s;
    }
  .logo:hover{
        -webkit-filter:grayscale(0);
    }
</style>
<nav class="navbar navbarCollapse navbar-toggleable-md navbar-inverse fixed-top  navbar-custom">
    <a class="navbar-brand" href="{% url 'index' %}"><img class = "logo" src="{% static 'images/GGK_logo-2.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="collapse navbar-collapse order-3 order-sm-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Etkinliklerimiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">İletişim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link px-2 custom-icon" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 custom-icon" href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 custom-icon" href="#"><i class="fa fa-linkedin"></i></a>

      </ul>
      <!--<ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'articles:dashboard' %}">{{request.user.username}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/user/logout">Çıkış Yap <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/user/register">Kayıt Ol <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/user/login">Giriş Yap <span class="sr-only">(current)</span></a>
          </li>
        {% endif %}-->
      </ul>
    </div>
  </nav>