{% extends "layout.html" %}
{% block body %}
<style>
    body{
        background-color: whitesmoke;
    }
    .all-articles-layout{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .article-preview{
        width:28%;
        margin: 2vw;
        background-color: white;
        transition:0.5s;
    }
    .article-preview:hover{
        transform:scale(1.1);
    }
    .article-preview h3{
        font-family: SourceSansBlack;
        color: #1a3047;
        padding-left:5%;
        padding-right:5%;
        padding-top:2%;
        overflow-wrap:break-word;
    }
    .article-preview p{
        font-family: SourceSans;
        padding-left:5%;
        padding-right:5%;
        padding-top:2%;
    }
    .article-image{
        background-image: url("../static/images/73df5960ba0b462963c58091225b0332.png");
        padding:30%;
        background-position: center;
    }
    #article-info{
        color:rgb(148, 148, 148);
    }
    #preview-text{
        color:black;
    }
    .article-preview a:hover{
        text-decoration: none;
    }
</style>
<div id="blog-intro">
    <h1 class="blog-text">Blog</h1>
</div>

{% if articles %}
<br><br><br>

<div class="all-articles-layout">

    {% for article in articles %}
        <div class="article-preview">
            <a href="/blog/article/{{article.id}}">
            {% if article.image %}
            <div class="article-image" style="background-image:url({{article.image.url}});"></div>
            {% else %}
            <div class="article-image"></div>
            {% endif %}
                <br>
                <h3>{{article.title}}</h3>
                <p id="preview-text">{{article.content|striptags|truncatewords:30}}
                </p>
            <p id="article-info">{{article.author}} {{article.created_date}}</p>
            </a>
        </div>
    {% endfor %}

</div>



<br><br><br>

{% endif %}

{% endblock body %}
