{% extends "layout.html" %}
{% block body %}
<style>
    body{
        background-color: whitesmoke;
    }
</style>
<div id="blog-intro">
    <h1 class="blog-text">Blog</h1>
</div>

{% if articles %}
<br><br><br>

<div class="all-articles-layout">

    {% for article in articles %}
        <div class="article-preview">
            <a href="/blog/article/{{article.id}}">
            {% if article.image %}
            <div class="article-image" style="background-image:url({{article.image.url}});"></div>
            {% else %}
            <div class="article-image"></div>
            {% endif %}
                <br>
                <h3>{{article.title}}</h3>
                <p id="preview-text">{{article.content|striptags|truncatewords:30}}
                </p>
            <p id="article-info">{{article.author}} {{article.created_date}}</p>
            </a>
        </div>
    {% endfor %}

</div>



<br><br><br>

{% endif %}

{% endblock body %}
