{% extends "layout.html" %}
{% block body %}
<style>
    body{
        background-color: whitesmoke;
    }
</style>
<div id="blog-intro">
    <h1 class="blog-text">Blog</h1>
</div>
<br><br><br>
<div class="blog-entry">
    <div class="blog-image"></div>
    <br><br>
    <h1>Blog Post</h1>
    <br>
    <p id="author">Author 21 Ağustos 1998</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugit maiores quae. Eligendi, deleniti sed non temporibus voluptates suscipit officiis enim in aliquid! 
        Velit beatae qui dolores temporibus, totam ducimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus similique soluta, unde natus nesciunt optio cumque est ipsum rerum doloremque, sunt qui necessitatibus perspiciatis 
        veniam impedit deserunt numquam! Ipsum, beatae.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        
        Laboriosam, asperiores aliquid maiores omnis officia esse doloremque harum? Velit voluptates aperiam, nulla ipsa natus quasi facilis, voluptatem, esse id autem ad!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nisi libero voluptatum, repellat quam dolore, possimus dolorum nam reiciendis, beatae temporibus quo similique. Est animi nemo, ullam magni totam nisi tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Modi ab consequatur molestiae dignissimos repellat voluptates, provident cum delectus harum illo? Quis harum animi quam ipsum qui molestiae debitis aut enim.
        
        Velit beatae qui dolores temporibus, totam ducimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus similique soluta, unde natus nesciunt optio cumque est ipsum rerum doloremque, sunt qui necessitatibus perspiciatis 
        veniam impedit deserunt numquam! Ipsum, beatae.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        
            Laboriosam, asperiores aliquid maiores omnis officia esse doloremque harum? Velit voluptates aperiam, nulla ipsa natus quasi facilis, voluptatem, esse id autem ad!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nisi libero voluptatum, repellat quam dolore, possimus dolorum nam reiciendis, beatae temporibus quo similique. Est animi nemo, ullam magni totam nisi tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Modi ab consequatu

            Velit beatae qui dolores temporibus, totam ducimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus similique soluta, unde natus nesciunt optio cumque est ipsum rerum doloremque, sunt qui necessitatibus perspiciatis 
        veniam impedit deserunt numquam! Ipsum, beatae.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        
            Laboriosam, asperiores aliquid maiores omnis officia esse doloremque harum? Velit voluptates aperiam, nulla ipsa natus quasi facilis, voluptatem, esse id autem ad!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nisi libero voluptatum, repellat quam dolore, possimus dolorum nam reiciendis, beatae temporibus quo similique. Est animi nemo, ullam magni totam nisi tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Modi ab consequatu


            Velit beatae qui dolores temporibus, totam ducimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus similique soluta, unde natus nesciunt optio cumque est ipsum rerum doloremque, sunt qui necessitatibus perspiciatis 
        veniam impedit deserunt numquam! Ipsum, beatae.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        
        Laboriosam, asperiores aliquid maiores omnis officia esse doloremque harum? Velit voluptates aperiam, nulla ipsa natus quasi facilis, voluptatem, esse id autem ad!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nisi libero voluptatum, repellat quam dolore, possimus dolorum nam reiciendis, beatae temporibus quo similique. Est animi nemo, ullam magni totam nisi tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Modi ab consequatu
    </p>
</div>
<br><br><br>

{% endblock body %}
