{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<style>
    .contact-form-image{
        background-image: url("{% static 'images/mails.jpg' %}");
        background-size: cover;
        text-align: center;
        padding:20%;
        color:White;
    }
    .contact-layout{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .contact-box{
        width:40%;
        padding:3%;
        margin:5%;
    }
    .contact-list{
        list-style:none;
        padding: 0;
        margin: 0;
    }
    .alert{
        margin:2%;
    }
    .contact-text{
        color:maroon;
    }
</style>
<div class="contact-form-image">
    <h1>Bizimle İletişime Geçin</h1>
</div>
{% if messages %}  
    {% for message in messages %}
        {% if message.tags == "info" %}
            <br>
            <div class="alert alert-danger">
                    {{ message }}
            </div>
        {% else %}
            <br>
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="contact-layout">
    <div class="contact-box">
        <h4 class="contact-text">Genç Girişimciler Kulübü</h4>
        <br>
        <ul class="contact-list">
            <li>
                <h5>Adres</h5>
                <p>Sabancı Üniversitesi
                Orta Mahallesi
                No:27 34956 Tuzla / İstanbul</p>
            </li>
            <br>
            <li>
                <h5>E-mail</h5>
                <p>ggk@sabanciuniv.edu</p>
            </li>
            <li>
                <ul class="icon-list list-inline">
                    <li class="list-inline-item">
                        <a class="px-2 custom-icon" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="px-2 custom-icon" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="px-2 custom-icon" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="contact-box">
        <h4 class="contact-text">Genç Girişimciler Kulübü</h4>
        <br>
        <form method="post">
            {% csrf_token %}
            {{contact_form|crispy}}
            <button type=”submit” class="btn btn-danger">Gönder</button>
        </form>
    </div>
</div>

{% endblock body %}
