{% extends "layout.html" %}
{% block body %}

<style>
    body{
        background-color: whitesmoke;
    }
</style>

<div class="big-event">
    <div class="event-poster">
        <h1>Girişimcilik ve İnovasyon Zirvesi</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iure commodi, quasi totam laudantium possimus quibusdam molestias deleniti tempora repellat. 
            Molestias aspernatur odit voluptatem nemo quo iste, dolorum animi voluptates libero.
        </p>
    </div>
</div>

<div class="events-layout">
    <div class="other-events">
        <div class="event-poster"></div>
    </div>
</div>


{% endblock body %}
