{% extends "layout.html" %}
{% block body %}

<style>
    body{
        background-color: whitesmoke;
    }
</style>

<div class="event-intro-image" id="mail-bg">
    <h1>Etkinliklerimiz</h1>
</div>
<br><br><br>
<div class="event-grid">
    <div class="poster"></div>
    <div class="headings grid-text"><h5>Girişimcilik ve İnovasyon Zirvesi</h5></div>
    <div class="headings grid-text"><h5></h5></div>
    <div class="event-text grid-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non magnam reiciendis eos numquam dolores veritatis, harum in dolorum, 
        eum vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus sequi eum ea consequatur obcaecati aliquid possimus qui maxime nostrum omnis accusamus debitis sed eos itaque aperiam odit. 
        Eaque repudiandae dicta repellendus corrupti neque quos, ab doloremque labore rem dolore esse reprehenderit officiis commodi aut sapiente suscipit provident eius nam architecto. Soluta natus, rem et nihil quam sequi at perferendis repudiandae a minima officia nostrum, ipsa, ducimus suscipit similique vero beatae magni maxime. Ipsum ullam voluptates cum?
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus se
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!</p>
        <h6><i class="fa fa-clock-o"></i> 21 Ağustos</h6>
        <h6><i class="fa fa-building"></i> Sabancı Üniversitesi</h6>
        <br><br>
        <button class="btn btn-danger">Katıl</button>
        <button class="btn btn-danger">Daha Fazla Bilgi Al</button>
    </div>
</div>
<br>
<div class="event-grid">
    <div class="poster"></div>
    <div class="headings grid-text"><h5>Girişimcilik ve İnovasyon Zirvesi</h5></div>
    <div class="headings grid-text"><h5></h5></div>
    <div class="event-text grid-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non magnam reiciendis eos numquam dolores veritatis, harum in dolorum, 
        eum vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus sequi eum ea consequatur obcaecati aliquid possimus qui maxime nostrum omnis accusamus debitis sed eos itaque aperiam odit. 
        Eaque repudiandae dicta repellendus corrupti neque quos, ab doloremque labore rem dolore esse reprehenderit officiis commodi aut sapiente suscipit provident eius nam architecto. Soluta natus, rem et nihil quam sequi at perferendis repudiandae a minima officia nostrum, ipsa, ducimus suscipit similique vero beatae magni maxime. Ipsum ullam voluptates cum?
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus se
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!</p>
        <h6><i class="fa fa-clock-o"></i> 21 Ağustos</h6>
        <h6><i class="fa fa-building"></i> Sabancı Üniversitesi</h6>
        <br><br>
        <button class="btn btn-danger">Katıl</button>
        <button class="btn btn-danger">Daha Fazla Bilgi Al</button>
    </div>
</div>
<br>
<div class="event-grid">
    <div class="poster"></div>
    <div class="headings grid-text"><h5>Girişimcilik ve İnovasyon Zirvesi</h5></div>
    <div class="headings grid-text"><h5></h5></div>
    <div class="event-text grid-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non magnam reiciendis eos numquam dolores veritatis, harum in dolorum, 
        eum vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus sequi eum ea consequatur obcaecati aliquid possimus qui maxime nostrum omnis accusamus debitis sed eos itaque aperiam odit. 
        Eaque repudiandae dicta repellendus corrupti neque quos, ab doloremque labore rem dolore esse reprehenderit officiis commodi aut sapiente suscipit provident eius nam architecto. Soluta natus, rem et nihil quam sequi at perferendis repudiandae a minima officia nostrum, ipsa, ducimus suscipit similique vero beatae magni maxime. Ipsum ullam voluptates cum?
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis, expedita delectus laudantium, corrupti aliquid molestiae, 
        laboriosam sunt quas commodi pariatur non rem! Magnam fugiat facere vitae odio, veritatis, 
        inventore beatae cumque ex, minus se
        vitae nostrum eveniet quia sequi earum quisquam nesciunt minima nemo fugiat!</p>
        <h6><i class="fa fa-clock-o"></i> 21 Ağustos</h6>
        <h6><i class="fa fa-building"></i> Sabancı Üniversitesi</h6>
        <br><br>
        <button class="btn btn-danger">Katıl</button>
        <button class="btn btn-danger">Daha Fazla Bilgi Al</button>
    </div>
</div>
<br>


{% endblock body %}
