{% extends "layout.html" %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}

<!--Introduction-->
<div id="intro-container">
    <div class="box" id="intro-box-1">
        <br>
        <h1>Genç Girişimciler Kulübü</h1>
    </div>

    <div class = "box" id="intro-box-2">
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas voluptate excepturi dolores labore recusandae totam ab distinctio vero incidunt sed, ut, consequatur saepe sunt, vitae quis veniam obcaecati iste. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, in sit! Vero ut suscipit in, illo dignissimos cum nam fugiat sit vel praesentium libero? Quam ea maxime eum aliquid quibusdam?</p>
        <a href="{% url 'contacts:new member' %}" class="btn btn-info">Üye Ol</a>
        <a class = "btn btn-info" href="{% url 'contacts:contact' %}">İletişime Geç</a>
    </div>
</div>
<div id="about-container">
    <div id="about-box" class="about-title">
        <h3>Hakkımızda</h3>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nihil reprehenderit incidunt, quasi laboriosam dolor deserunt modi, aperiam eum quis, nesciunt rerum! In maxime ab debitis, doloremque nobis magnam id. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, omnis iure ea eveniet error maxime iusto est minima fuga quia iste cumque sed quis molestiae, illum, ullam pariatur quos porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dolore similique! Laboriosam vero ipsum libero voluptas nam, esse ex ea temporibus quisquam molestias odio sit velit iusto ut eos accusantium! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem veniam corporis porro earum doloremque dicta esse, nemo, nobis maiores rem ipsa! Perferendis veritatis ipsa a numquam tempora earum sed nam.</p>
    </div>
    <div id="about-box" class="about-text">
        <img src="{% static 'images/GGK_logo-3.png' %}" id="intro-logo">
    </div>
</div>
<div id="mobile-about">
    <h3>Hakkımızda</h3>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nihil reprehenderit incidunt, quasi laboriosam dolor deserunt modi, aperiam eum quis, nesciunt rerum! In maxime ab debitis, doloremque nobis magnam id. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, omnis iure ea eveniet error maxime iusto est minima fuga quia iste cumque sed quis molestiae, illum, ullam pariatur quos porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dolore similique! Laboriosam vero ipsum libero voluptas nam, esse ex ea temporibus quisquam molestias odio sit velit iusto ut eos accusantium! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem veniam corporis porro earum doloremque dicta esse, nemo, nobis maiores rem ipsa! Perferendis veritatis ipsa a numquam tempora earum sed nam.</p>
</div>
<div id="member-image"><h1>Sayılarla GGK</h1></div>
<div id="members-intro-layout">
    <div>
        <h1>0</h1>
        <p>Üye</p>
    </div>
    <div>
        <h1>0</h1>
        <p>Etkinlik</p>
    </div>
    <div>
        <h1>0</h1>
        <p>Konuşmacı</p>
    </div>
</div>
<div id="about-container">
    <div id="about-box" class="about-title">
        <h3>Mail Listemize Katıl</h3>
        <br>
        <form method="post" class="mail-form">
            {% csrf_token %}
            {{form|crispy}}
            <button type=”submit” class="btn btn-danger mail-list-button">Katıl</button>
        </form>
    </div>
    <div id="about-box" class="about-text">
        <div class="icon"></div>
    </div>
</div>
<div id="mobile-about">
    <form method="post" class="mail-form mail-form-mobile">
        <h5>Mail Listemize Katıl</h5>
        {% csrf_token %}
        {{form|crispy}}
        <button type=”submit” class="btn btn-info mail-list-button col-md-12 text-center">Katıl</button>
    </form>
</div>
{% endblock body %}
