{% load static %}
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/custom.css' %}">
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Genç Girişimciler Kulübü</title>
 </head>
 
 <body>
    {% include "includes/navbar.html"%}
    <br><br>

    {% block body %}
    {% endblock body %}
    {%include "includes/footer.html" %}
 </body>
 </html>


<script src="{% static 'javascript/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'javascript/bootstrap.min.js'%}"></script>
<script src="{% static 'javascript/bootstrap.js'%}"></script>