{% extends "layout.html" %}
{% load crispy_forms_tags %}
{%load static%}
{% block body %}
<style>
     #login-form-image{
        background-image: url("{% static 'images/writer.jpg' %}");
        color:white;
        background-size: cover;
        text-align: center;
        padding:20%;
        color:White;
        display:flex;
        flex-direction: row;
        justify-content: center;
     }
     #login-form-container{
         padding:25%;
         background-color: rgb(24, 23, 22,0.8);
         border-radius:40px;
         height:80%;
         position:relative;
     }
     #yazar-login{
         position:absolute;
         left:150;
         top:150;
     }
     #already-logged-in{
         position:absolute;
         left:100;
         top:150;
     }
     #already-logged-in-button{
         position:absolute;
         top:210;
         left:150;
     }
     #already-logged-in-container{
        padding:25%;
        background-color: rgb(24, 23, 22,0.8);
        border-radius:40px;
        height:50%;
        position:relative;
     }
</style>
<div id="login-form-image">
    {% if request.user.is_authenticated %}
    <div id="already-logged-in-container">
        <h3 id="already-logged-in">Zaten Giriş Yaptın</h3>
        <br>
        <a href="{% url 'article:logout' %}" class="btn btn-danger" id="already-logged-in-button">Çıkış Yap</a>
    </div>
    {% else %}
    <div id="login-form-container">
        <h3 id="yazar-login">Yazar Olarak Giriş Yap</h5>
        <br><br>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type=”submit” class="btn btn-danger">Giriş Yap</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock body %}